.input {
  &-form {
    margin: 1rem 0;
    display: flex;
  }

  &-input {
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    flex: 70%;
    margin-right: 0.5rem;
  }

  &-button {
    flex: 30%;
    background-color: azure;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    cursor: pointer;
  }
}
