.App {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.task-item {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 16px auto 0;
  padding: 8px;
  background-color: aqua;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .task-item:hover::after {
  content: 'click to mark task done';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  padding: 0.25rem;
  background-color: aliceblue;
  border-radius: 0.25rem;
} */

.task-name {
  flex: 5 0 auto;
}

.task-edit {
  padding: 8px;
  flex: 0 1 auto;
}

.task-delete {
  padding: 8px;
  flex: 0 1 auto;
}
